<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>8Bit Stack In Class</title>
    <script src="vendors/jquery-3.0.0.min.js" charset="utf-8"></script>
    <script src="scripts/script.js" charset="utf-8"></script>
  </head>
  <body>
    <h2>8Bit Stack In Class Example</h2>
    <input type="text" id="usernameIn" name="usernameIn" value="" placeholder="username">
    <button type="button" id="addButton" name="addButton">Add User</button>
    <button type="button" id="getUsers" name="getUsers">Get Users</button>
    <div id='outputDiv'></div>
  </body>
</html>
